
body  {
    		background-image:url("sonnet4.jpg");
    		background-color: black;
    		background-repeat: no-repeat;
    		margin-top: 5%;
    		background-size: 100%;
        text-align: center;
    		font-size: 14px;
}
        .colorblock {
            width: 50px;
            height: 50px;
            text-align: right;
            size: fixed;
            background-color: #8c7842 ;
          
        }
        .colorblock:hover {
            opacity: 0.0;
    		filter: alpha(opacity=0);
        }
        .colorblock:active {
            background-color: white;
      } 

      .colorblock.a{
      	background-color: #8c0d29;
      }
      .colorblock.b{
      	background-color: #291c17;
      }
      .colorblock.c{
      	background-color: #0f6147;
      }
      .colorblock.d{
      	background-color: #453326;
      }
      .colorblock.e{
      	background-color: #ad8a78;
      }
      .colorblock.f{
      	background-color: #14121a;
      }
      .colorblock.g{
      	background-color: #ffb299;
      }
      .colorblock.h{
      	background-color: #874947;
      }
      .colorblock.i{
      	background-color: #d1ba7f;
      }

ul{
	list-style-type: none;
	margin: 0%;
  padding-left: 10px;
	width: 1260px;
  align-self: center;
  text-align: right;
}

li {
	display: inline;
	float: right;
	/*white-space: nowrap;*/
	padding: 10px;
	/*margin-left: 80%;*/
}

@media screen and (max-width: 1080px) {
		.colorblock {
            width: 35px;
            height: 35px;
            padding: 5px;

	}

  ul{
  list-style-type: none;
  margin: 0%;
  padding-left: 10px;
  width: 950px;
  align-self: center;
  text-align: right;

}
.container {
    position: relative;
    text-align: center;
    color: white; 
    position: absolute;
    bottom: 400px;
    margin-right: 200px;
    font-family: Avenir;
    font-size: 20pt;
    right: 50px;

}
}

@media screen and (max-width: 880px) {
    .colorblock {
            width: 15px;
            height: 15px;
            padding: px;

  }

  ul{
  list-style-type: none;
  margin: 0%;
  padding-left: 10px;
  width: 780px;
  align-self: center;
  text-align: right;


}
.container {
    position: relative;
    text-align: center;
    color: white; 
    position: absolute;
    bottom: 320px;
    margin-right: 200px;
    font-family: Avenir;
    font-size: 15pt;
    right: 50px;

}
}

